### Fake Pickleball Results for DTSC 2032

In [15]:
# Import the sqlite3 library
import sqlite3 as db
#import pandas as pd
import csv

In [2]:
# create a connection between the database and VSCode
# If the database does not exist, SQLite will create it.
conn = db.connect('pickleball.db')  # Create or connect to database
# create a cursor object which will be the way through which we pass commands
cursor = conn.cursor()

In [3]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS match (
    matchid INTEGER PRIMARY KEY,
    WinnerID INTEGER,
    LoserID INTEGER)
''')

In [4]:
player_data = [
    (378, 'Ilieva Ageenko', '35'),
    (459, 'Michael Schuckers', '36'),
    (608, 'Marco Scipioni', '33'),
    (780,'Deanna Rella',29)
]

match_data = [(710,378,459),
         (711,378,780),
         (712,608,459),
         (713,608,780),
         (714,780,459), 
         (716,378,608),
         (720,400,378)]

In [5]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS player (
    PlayerID INTEGER PRIMARY KEY,
    Name TEXT,
    Age INTEGER)
''')

In [6]:
cursor.executemany('''
INSERT INTO player (PlayerID, Name, Age)
VALUES (?, ?, ?)
''', player_data)

In [7]:
cursor.executemany('''
INSERT INTO match (MatchID, WinnerID, LoserID)
VALUES (?, ?, ?)
''', match_data)

### INNER JOIN

In [ ]:
cursor.execute('''
SELECT WinnerID, LoserID,Name  FROM match 
INNER JOIN player 
ON match.WinnerID = player.PlayerID;
''')

In [ ]:
result = cursor.fetchall() 
for row in result: 
    print(row)

### LEFT JOIN

In [ ]:
cursor.execute('''
SELECT WinnerID, LoserID,Name  FROM match 
LEFT JOIN player 
ON match.WinnerID = player.PlayerID;
''')
result = cursor.fetchall() 
for row in result: 
    print(row)

### RIGHT JOIN

In [ ]:
cursor.execute('''
SELECT WinnerID, LoserID,Name  FROM match 
RIGHT JOIN player 
ON match.WinnerID = player.PlayerID;
''')
result = cursor.fetchall() 
for row in result: 
    print(row)

### FULL JOIN

In [ ]:
cursor.execute('''
SELECT WinnerID, LoserID,Name  FROM match 
FULL JOIN player 
ON match.WinnerID = player.PlayerID;
''')
result = cursor.fetchall() 
for row in result: 
    print(row)

### More Examples

In [8]:
cursor.execute('''
SELECT Name, Age  FROM match 
FULL JOIN player 
ON match.LoserID = player.PlayerID;
''')
result = cursor.fetchall() 
for row in result: 
    print(row)

('Michael Schuckers', 36)
('Deanna Rella', 29)
('Michael Schuckers', 36)
('Deanna Rella', 29)
('Michael Schuckers', 36)
('Marco Scipioni', 33)
('Ilieva Ageenko', 35)

In [9]:
cursor.execute('''
SELECT WinnerID, Name, Age from match
  RIGHT JOIN player ON match.WinnerID=player.PlayerID
 ;
''')
result = cursor.fetchall() 
for row in result: 
    print(row)

(378, 'Ilieva Ageenko', 35)
(378, 'Ilieva Ageenko', 35)
(608, 'Marco Scipioni', 33)
(608, 'Marco Scipioni', 33)
(780, 'Deanna Rella', 29)
(378, 'Ilieva Ageenko', 35)
(None, 'Michael Schuckers', 36)

In [10]:
cursor.execute('''SELECT MatchID, Name from match
JOIN player ON player.PlayerID = match.WinnerID

               ''')
result = cursor.fetchall() 
for row in result: 
    print(row)

(710, 'Ilieva Ageenko')
(711, 'Ilieva Ageenko')
(712, 'Marco Scipioni')
(713, 'Marco Scipioni')
(714, 'Deanna Rella')
(716, 'Ilieva Ageenko')

In [11]:
cursor.execute('''SELECT MatchID, Name from match
JOIN player ON player.PlayerID = match.WinnerID
WHERE WinnerID<500
''')
result = cursor.fetchall() 
for row in result: 
    print(row)

(710, 'Ilieva Ageenko')
(711, 'Ilieva Ageenko')
(716, 'Ilieva Ageenko')

In [ ]:
sql_query = """SELECT name FROM sqlite_master 
    WHERE type='table';"""

cursor.execute(sql_query)
print("List of tables\n")
     
# printing all tables list
print(cursor.fetchall())

In [ ]:
cursor.execute('''
SELECT * FROM player 
''')
result = cursor.fetchall() 
for row in result: 
    print(row)

In [ ]:
with open("result.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow([header[0] for header in cursor.description])
    writer.writerows(result)

In [12]:
conn.close()