### SQL: Filters and Joins

Structured Query Language or SQL is a very common tool for data science.  It is a way to access data from databases.  We use databases rather than spreadsheets or csv's since they
tend to be more efficient uses of space.

For DTSC 2302 we are going to use a simple version of SQL and of database structure.  Generally, a database would be stored on a server and communications would go through the server.  In this course, we are just going to use some simple databases that are stored locally using a python library called _sqlite3_.  You may have to _install_ this
library but it now comes as part of my python downloads.

In [1]:
# Import the sqlite3 library
import sqlite3 as db
import pandas as pd
import csv

Download the file to a local directory 
https://webpages.charlotte.edu/mschuck1/classes/DTSC2301/Data/chinook.db

In [2]:
# Create a statement like the one below but replace my path with the one that is appropriate for your machine
#
chinook='C:\\Users\\mschuck1\\OneDrive - University of North Carolina at Charlotte\\Teaching\\DTSC2301\\chinook.db'

conn = db.connect(chinook)  # Create or connect to database
# create a cursor object which will be the way through which we pass commands
cursor = conn.cursor()

Here is the schema for the *chinook* database

![Chinook Schema](https://webpages.charlotte.edu/mschuck1/classes/DTSC2301/Data/sqlite-sample-database-color.jpg)

Next we will print the names of the tables in the _chinook_ database.

In [3]:
sql_query = """SELECT name FROM sqlite_master 
    WHERE type='table';"""

cursor.execute(sql_query)
print("List of tables\n")
     
# printing all tables list
print(cursor.fetchall())

List of tables

[('albums',), ('sqlite_sequence',), ('artists',), ('customers',), ('employees',), ('genres',), ('invoices',), ('invoice_items',), ('media_types',), ('playlists',), ('playlist_track',), ('tracks',), ('sqlite_stat1',)]

### Filtering

Next we will practice filtering.  Filtering is the act of subsetting the rows/examples/instances of a dataset.

In [4]:
cursor.execute('SELECT * FROM genres')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Rock')
(2, 'Jazz')
(3, 'Metal')
(4, 'Alternative & Punk')
(5, 'Rock And Roll')
(6, 'Blues')
(7, 'Latin')
(8, 'Reggae')
(9, 'Pop')
(10, 'Soundtrack')
(11, 'Bossa Nova')
(12, 'Easy Listening')
(13, 'Heavy Metal')
(14, 'R&B/Soul')
(15, 'Electronica/Dance')
(16, 'World')
(17, 'Hip Hop/Rap')
(18, 'Science Fiction')
(19, 'TV Shows')
(20, 'Sci Fi & Fantasy')
(21, 'Drama')
(22, 'Comedy')
(23, 'Alternative')
(24, 'Classical')
(25, 'Opera')

So we'll start with some simple filters from this database.

So we'll look at the genres and get those with id's less than 10.  A pretty simple filter
that is based upon a numeric statement.

In [5]:
cursor.execute('''SELECT * FROM genres 
               WHERE genreID <10
''')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Rock')
(2, 'Jazz')
(3, 'Metal')
(4, 'Alternative & Punk')
(5, 'Rock And Roll')
(6, 'Blues')
(7, 'Latin')
(8, 'Reggae')
(9, 'Pop')

We can filter text by similar comparisons.

In [6]:
cursor.execute('''SELECT   name,   albumid,   composer
FROM
  tracks
WHERE
  composer = 'Adrian Smith'
''')
rows=cursor.fetchall()
for row in rows:
    print(row)

('Killing Floor', 19, 'Adrian Smith')
('Machine Men', 19, 'Adrian Smith')
('Wasted Years', 111, 'Adrian Smith')
('Sea of Madness', 111, 'Adrian Smith')
('Stranger in a Strange Land', 111, 'Adrian Smith')

Yeah but say we want to get all the composers with 'Smith' as a last name.  I'm also going to add 
an 'AND' to our WHERE clause below to make it easier to see the differences in our output.

In [7]:
cursor.execute('''SELECT   name,   albumid,   composer
FROM
  tracks
WHERE
  composer LIKE '%Smith' AND albumid<120
''')
rows=cursor.fetchall()
for row in rows:
    print(row)

('Killing Floor', 19, 'Adrian Smith')
('Machine Men', 19, 'Adrian Smith')
('Back in the Village', 107, 'Dickinson/Smith')
('Wasted Years', 111, 'Adrian Smith')
('Sea of Madness', 111, 'Adrian Smith')
('Stranger in a Strange Land', 111, 'Adrian Smith')
('Planet Home', 117, 'Jay Kay/Toby Smith')
('Soul Education', 117, 'Jay Kay/Toby Smith')
('Failling', 117, 'Jay Kay/Toby Smith')
('Destitute Illusions', 117, 'Derrick McKenzie/Jay Kay/Toby Smith')
('Butterfly', 117, 'Jay Kay/Toby Smith')
('King For A Day', 117, 'Jay Kay/Toby Smith')
('Deeper Underground', 117, 'Toby Smith')
('Just Another Story', 118, 'Toby Smith')
('Stillness In Time', 118, 'Toby Smith')
('Half The Man', 118, 'Toby Smith')
('Light Years', 118, 'Toby Smith')
('Manifest Destiny', 118, 'Toby Smith')
('The Kids', 118, 'Toby Smith')
('Mr. Moon', 118, 'Stuard Zender/Toby Smith')

So we didn't actually get those with just 'Smith' as a last name what we got was any string with 'Smith' at the end.  The LIKE '%Smith' translates to find anything that ends in 'Smith'.  We 
can do the same with anything that has 'Smith' somewhere in the _composer_ field by putting the '%' before and after 'Smith' as below.

In [8]:
cursor.execute('''SELECT   name,   albumid,   composer
FROM
  tracks
WHERE
  composer LIKE '%Smith%' AND albumid<120
''')
rows=cursor.fetchall()
for row in rows:
    print(row)

('Restless and Wild', 3, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman')
('Princess of the Dawn', 3, 'Deaffy & R.A. Smith-Diesel')
('Killing Floor', 19, 'Adrian Smith')
('Machine Men', 19, 'Adrian Smith')
('2 Minutes To Midnight', 95, 'Adrian Smith/Bruce Dickinson')
('Can I Play With Madness', 96, 'Adrian Smith/Bruce Dickinson/Steve Harris')
('The Evil That Men Do', 96, 'Adrian Smith/Bruce Dickinson/Steve Harris')
('The Wicker Man', 97, 'Adrian Smith/Bruce Dickinson/Steve Harris')
('The Fallen Angel', 97, 'Adrian Smith/Steve Harris')
('Wildest Dreams', 98, 'Adrian Smith/Steve Harris')
('New Frontier', 98, 'Adrian Smith/Bruce Dickinson/Nicko McBrain')
('Paschendale', 98, 'Adrian Smith/Steve Harris')
('Face In The Sand', 98, 'Adrian Smith/Bruce Dickinson/Steve Harris')
('2 Minutes To Midnight', 102, 'Smith/Dickinson')
('Flight Of Icarus', 102, 'Smith/Dickinson')
('Die With Your Boots On', 102, 'Adrian Smith/Bruce Dickinson/Steve Harris')
('2 Minutes To Midnight', 104, 'Adrian Smith/Bruce Dickinson')
('Hooks In You', 105, 'Adrian Smith/Bruce Dickinson')
('Flight Of The Icarus', 106, 'Adrian Smith/Bruce Dickinson')
('Die With Your Boots On', 106, 'Adrian Smith/Bruce Dickinson/Steve Harris')
('Sun And Steel', 106, 'Adrian Smith/Bruce Dickinson')
('2 Minutes To Midnight', 107, 'Smith/Dickinson')
('Back in the Village', 107, 'Dickinson/Smith')
('The Wicker Man', 108, 'Adrian Smith/Bruce Dickinson/Steve Harris')
('2 Minutes To Midnight', 108, 'Adrian Smith/Bruce Dickinson')
('The Evil That Men Do', 109, 'Adrian Smith/Bruce Dickinson/Steve Harris')
('Moonchild', 110, 'Adrian Smith; Bruce Dickinson')
('Can I Play With Madness', 110, 'Adrian Smith; Bruce Dickinson; Steve Harris')
('The Evil That Men Do', 110, 'Adrian Smith; Bruce Dickinson; Steve Harris')
('The Clairvoyant', 110, 'Adrian Smith; Bruce Dickinson; Steve Harris')
('Wasted Years', 111, 'Adrian Smith')
('Sea of Madness', 111, 'Adrian Smith')
('Stranger in a Strange Land', 111, 'Adrian Smith')
('22 Acacia Avenue', 112, 'Adrian Smith/Steve Harris')
('Gangland', 112, 'Adrian Smith/Clive Burr/Steve Harris')
('The Prisoner', 112, 'Adrian Smith/Steve Harris')
('Too Young To Die', 116, 'Smith, Toby')
('Hooked Up', 116, 'Smith, Toby')
('Music Of The Wind', 116, 'Smith, Toby')
('Emergency On Planet Earth', 116, 'Smith, Toby')
('Blow Your Mind', 116, 'Smith, Toby')
('Revolution 1993', 116, 'Smith, Toby')
('Planet Home', 117, 'Jay Kay/Toby Smith')
('Soul Education', 117, 'Jay Kay/Toby Smith')
('Failling', 117, 'Jay Kay/Toby Smith')
('Destitute Illusions', 117, 'Derrick McKenzie/Jay Kay/Toby Smith')
('Butterfly', 117, 'Jay Kay/Toby Smith')
('King For A Day', 117, 'Jay Kay/Toby Smith')
('Deeper Underground', 117, 'Toby Smith')
('Just Another Story', 118, 'Toby Smith')
('Stillness In Time', 118, 'Toby Smith')
('Half The Man', 118, 'Toby Smith')
('Light Years', 118, 'Toby Smith')
('Manifest Destiny', 118, 'Toby Smith')
('The Kids', 118, 'Toby Smith')
('Mr. Moon', 118, 'Stuard Zender/Toby Smith')
('Journey To Arnhemland', 118, 'Toby Smith/Wallis Buchanan')

We got a longer list above because '%Smith%' is more flexible than '%Smith' (or 'Smith%' for that 
matter).  There are more options for matching text but we aren't going to spend to much time on them.  Those options fall under the heading of 'regular expressions' and they are a world unto themselves.

### JOINing

Next we will move to *joining* of data from multiple tables.  Joining is the action of taking
information from one table and combining with information from another.

So the next set of code does not run.  See if you can identify why that is before moving on.

cursor.execute('''SELECT ArtistId,Name,Title composer FROM albums

JOIN artists ON albums.ArtistId=artists.Artistid

WHERE albums.ArtistId <20

''')


rows=cursor.fetchall()

for row in rows:

    print(row)





.



.



.



.

In [9]:
cursor.execute('''SELECT albums.ArtistId,Name,Title composer FROM albums
JOIN artists ON albums.ArtistId=artists.Artistid
WHERE albums.ArtistId <20
''')

rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'AC/DC', 'For Those About To Rock We Salute You')
(1, 'AC/DC', 'Let There Be Rock')
(2, 'Accept', 'Balls to the Wall')
(2, 'Accept', 'Restless and Wild')
(3, 'Aerosmith', 'Big Ones')
(4, 'Alanis Morissette', 'Jagged Little Pill')
(5, 'Alice In Chains', 'Facelift')
(6, 'Antônio Carlos Jobim', 'Warner 25 Anos')
(6, 'Antônio Carlos Jobim', 'Chill: Brazil (Disc 2)')
(7, 'Apocalyptica', 'Plays Metallica By Four Cellos')
(8, 'Audioslave', 'Audioslave')
(8, 'Audioslave', 'Out Of Exile')
(8, 'Audioslave', 'Revelations')
(9, 'BackBeat', 'BackBeat Soundtrack')
(10, 'Billy Cobham', 'The Best Of Billy Cobham')
(11, 'Black Label Society', 'Alcohol Fueled Brewtality Live! [Disc 1]')
(11, 'Black Label Society', 'Alcohol Fueled Brewtality Live! [Disc 2]')
(12, 'Black Sabbath', 'Black Sabbath')
(12, 'Black Sabbath', 'Black Sabbath Vol. 4 (Remaster)')
(13, 'Body Count', 'Body Count')
(14, 'Bruce Dickinson', 'Chemical Wedding')
(15, 'Buddy Guy', 'The Best Of Buddy Guy - The Millenium Collection')
(16, 'Caetano Veloso', 'Prenda Minha')
(16, 'Caetano Veloso', 'Sozinho Remix Ao Vivo')
(17, 'Chico Buarque', 'Minha Historia')
(18, 'Chico Science & Nação Zumbi', 'Afrociberdelia')
(18, 'Chico Science & Nação Zumbi', 'Da Lama Ao Caos')
(19, 'Cidade Negra', 'Acústico MTV [Live]')
(19, 'Cidade Negra', 'Cidade Negra - Hits')

Each track has its own genre but if we want to include that genre in our output 
we need to join the genre to the tracks.

In [10]:
cursor.execute('''SELECT genres.Name,tracks.Name 
               FROM genres
JOIN tracks ON genres.GenreID=tracks.GenreID
WHERE TrackID <100
''')

rows=cursor.fetchall()
for row in rows:
    print(row)

('Rock', 'For Those About To Rock (We Salute You)')
('Rock', 'Balls to the Wall')
('Rock', 'Fast As a Shark')
('Rock', 'Restless and Wild')
('Rock', 'Princess of the Dawn')
('Rock', 'Put The Finger On You')
('Rock', "Let's Get It Up")
('Rock', 'Inject The Venom')
('Rock', 'Snowballed')
('Rock', 'Evil Walks')
('Rock', 'C.O.D.')
('Rock', 'Breaking The Rules')
('Rock', 'Night Of The Long Knives')
('Rock', 'Spellbound')
('Rock', 'Go Down')
('Rock', 'Dog Eat Dog')
('Rock', 'Let There Be Rock')
('Rock', 'Bad Boy Boogie')
('Rock', 'Problem Child')
('Rock', 'Overdose')
('Rock', "Hell Ain't A Bad Place To Be")
('Rock', 'Whole Lotta Rosie')
('Rock', 'Walk On Water')
('Rock', 'Love In An Elevator')
('Rock', 'Rag Doll')
('Rock', 'What It Takes')
('Rock', 'Dude (Looks Like A Lady)')
('Rock', "Janie's Got A Gun")
('Rock', "Cryin'")
('Rock', 'Amazing')
('Rock', 'Blind Man')
('Rock', 'Deuces Are Wild')
('Rock', 'The Other Side')
('Rock', 'Crazy')
('Rock', 'Eat The Rich')
('Rock', 'Angel')
('Rock', "Livin' On The Edge")
('Rock', 'All I Really Want')
('Rock', 'You Oughta Know')
('Rock', 'Perfect')
('Rock', 'Hand In My Pocket')
('Rock', 'Right Through You')
('Rock', 'Forgiven')
('Rock', 'You Learn')
('Rock', 'Head Over Feet')
('Rock', 'Mary Jane')
('Rock', 'Ironic')
('Rock', 'Not The Doctor')
('Rock', 'Wake Up')
('Rock', 'You Oughta Know (Alternate)')
('Rock', 'We Die Young')
('Rock', 'Man In The Box')
('Rock', 'Sea Of Sorrow')
('Rock', 'Bleed The Freak')
('Rock', "I Can't Remember")
('Rock', 'Love, Hate, Love')
('Rock', "It Ain't Like That")
('Rock', 'Sunshine')
('Rock', 'Put You Down')
('Rock', 'Confusion')
('Rock', 'I Know Somethin (Bout You)')
('Rock', 'Real Thing')
('Rock', 'Cochise')
('Rock', 'Show Me How to Live')
('Rock', 'Gasoline')
('Rock', 'What You Are')
('Rock', 'Like a Stone')
('Rock', 'Set It Off')
('Rock', 'Shadow on the Sun')
('Rock', 'I am the Highway')
('Rock', 'Exploder')
('Rock', 'Hypnotize')
('Rock', "Bring'em Back Alive")
('Rock', 'Light My Way')
('Rock', 'Getaway Car')
('Rock', 'The Last Remaining Light')
('Jazz', 'Desafinado')
('Jazz', 'Garota De Ipanema')
('Jazz', 'Samba De Uma Nota Só (One Note Samba)')
('Jazz', 'Por Causa De Você')
('Jazz', 'Ligia')
('Jazz', 'Fotografia')
('Jazz', 'Dindi (Dindi)')
('Jazz', 'Se Todos Fossem Iguais A Você (Instrumental)')
('Jazz', 'Falando De Amor')
('Jazz', 'Angela')
('Jazz', 'Corcovado (Quiet Nights Of Quiet Stars)')
('Jazz', 'Outra Vez')
('Jazz', 'O Boto (Bôto)')
('Jazz', 'Canta, Canta Mais')
('Metal', 'Enter Sandman')
('Metal', 'Master Of Puppets')
('Metal', 'Harvester Of Sorrow')
('Metal', 'The Unforgiven')
('Metal', 'Sad But True')
('Metal', 'Creeping Death')
('Metal', 'Wherever I May Roam')
('Metal', 'Welcome Home (Sanitarium)')
('Alternative & Punk', 'Your Time Has Come')

Above we have been limiting the output since we don't want to take up too much screen space.  Here we are going to remove 
the filter (WHERE TrackID <100) and print the output to a csv file.

In [11]:
cursor.execute('''SELECT genres.Name,tracks.Name 
               FROM genres
JOIN tracks ON genres.GenreID=tracks.GenreID
''')

In [12]:
# make the output from the previous cursor run an object called rows
rows = cursor.fetchall()
# open the csv file called 'results'  and do that in write or 'w' mode
fp = open('results.csv','w')
# create an csv.write object associated with the file fp
myFile = csv.writer(fp)
# right the output from our query into myFile
myFile.writerows(rows)
# close the connection with the file fp.
fp.close()

In [13]:
cursor.execute('''PRAGMA table_info(genres)''')

rows=cursor.fetchall()
for row in rows:
    print(row)

(0, 'GenreId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(120)', 0, None, 0)

For what we are doing here JOIN is sufficient, though we might want to use other types of JOIN.

In [14]:
#conn.close()

Tasks below are drawn and modified from the following site:
![SCORE Softball](https://iramler.github.io/slu_score_preprints/softball/softball_div1/)

### Tasks
0. For the tasks below you are going to use the database from the following link: https://webpages.charlotte.edu/mschuck1/classes/DTSC2301/Data/softball_batting.sqlite.  Connect to the database and print the names of the tables in that database.

![Softball Database](https://webpages.charlotte.edu/mschuck1/classes/DTSC2301/Data/softball_db.png)

1. When using a join function on the tables in the above picture, which variable would you want to use as your key and why?

2.	Suppose we LEFT JOIN batting2022_subset to batting2021_subset.  Are you keeping the player names from batting2022_subset or batting2021_subset?  Conduct the LEFT JOIN and check the output with your sketch.

3.	Would the dataset created by a RIGHT JOIN of batting2022_subset to batting2021_subset be identical to the dataset created in question 2? Why or why not?

4.	If we wanted to see if players' performances improved or not from the 2021 season to the 2022 season, which of the join functions would be the most practical? Explain.

5. Looking at the new table below, provide the command that would produce the result in this table.

| Player    | Team |  R.x | H.x | R.y | H.y| 
| -------- | ------- | --- | --- | ---| ---|
| Aaliyah Swan | Cal State Northridge | 8 | 20 | 16 | 23|
| Abbey Latham | Ole Miss | 25 | 53 | 36 | 45|
| Bella Rocco | Boise State | 16 | 42 | 10 | 29|
| Emily Gant | Boston University | 31 | 36 | 40 | 55| 

*For the tasks below use the full tables , batting2021 and batting2022.*

6. For each table, print the attributes from each table.

7.	Although not seen in the subset of data we used in the first five exercises, when considering multiple seasons of data for all NCAA Division 1 softball players, there is a reasonable chance that two players from different teams will have the same name. When using a join function, what would you want to use as your key? For now, let’s assume that players from the same team won’t have the same name.

8.	Suppose you only used the player’s name as the key, explain what would happen to your dataset if you did a full join?

9.	What is the difference between a full join and inner join? Answer based on what type of players would be included in each dataset.

10.	Suppose you want to analyze trends batting averages across 10 seasons of data. You should assume that all 10 seasons have the same column names.  Briefly explain why repeatedly using an inner join to merge all 10 seasons would not be a good approach. 

11. Briefly explain why repeatedly using use a full join to merge all 10 seasons would not be an ideal approach. What would be a better solution?